<b><font size="6">Visualizing the EU Emissions Trading System</font></b>
<br>Where to get your data & how to prepare it.
<br>Download Data from EU Registry

https://console.cloud.google.com/google/maps-apis/apis/geocoding-backend.googleapis.com/quotas?project=eu-ets

In [273]:
import pandas as pd
import os
import country_converter as coco
import googlemaps
import xlwings as xw
import numpy as np
import math
import time
import re
from functools import reduce

In [187]:
def clean_header(df):
    return [c.upper().replace(' ', '_') for c in list(df)]

In [188]:
dir_ = r'/Users/sebastian/Google Drive/ai_stock_picker/06_eu_ets'

In [451]:
pth_emissions = os.path.join(dir_, r'verified_emissions_2018_en.xlsx')
pth_installations = os.path.join(dir_, r'stationary_installations_union_registry_phase_iii_en.xlsx')
pth_data_01 = os.path.join(dir_, r'data_01.csv')
pth_data_02 = os.path.join(dir_, r'data_02.csv')
pth_data_03 = os.path.join(dir_, r'data_03.csv')

# Load Installation Data

In [229]:
installation = pd.read_excel(pth_installations, skiprows=1)

In [230]:
installation.columns = clean_header(installation)

In [231]:
cc = coco.CountryConverter()
iso_2 = list(installation['MS_REGISTRY'].unique())
countries = cc.convert(names =  list(installation['MS_REGISTRY'].unique()), to='name_short')
installation['COUNTRY'] = installation['MS_REGISTRY'].map(dict(zip(iso_2, countries)))

In [232]:
address_columns = ['CONTACT_ADDRESS_L1', 'CONTACT_CITY', 'COUNTRY']

In [233]:
installation.shape

(15043, 15)

In [234]:
installation.dropna(subset=address_columns).shape

(15040, 15)

In [235]:
for c in address_columns:
    installation[c] = installation[c].astype(str)

In [236]:
installation['ADDRESS'] = installation[address_columns].agg(', '.join, axis=1)

In [247]:
unique_locations = pd.DataFrame(installation['ADDRESS'].unique().tolist(), columns=['ADDRESS'])

In [200]:
some_locations = ['1 Altens Farm Road, Aberdeen, United Kingdom',
                  '1 Angel Lane, London, United Kingdom',
                  '1 Avenue Oscar Lambret, Lille, France',
                  '1 Boulevard Benoît Frachon, Varennes Vauzelles, France',
                  '1 Chemin des Chaux de la Tour, Ensues la Redonne, France',
                  '1 Churchill Place, London, United Kingdom',
                  '1 Decembrie 1918 nr. 146, Caracal, Romania']

In [252]:
location_chunks = []
chunk_size = 4500
nr_of_records = len(unique_locations)
nr_of_chunks = math.ceil(nr_of_records / chunk_size)

for i in range(nr_of_chunks): 
    location_chunk = unique_locations[i*chunk_size:(i+1)*chunk_size]
    location_chunks.append(location_chunk)

# Add Longitude & Latitude with Google Maps API

https://towardsdatascience.com/mapping-messy-addresses-part-1-getting-latitude-and-longitude-8fa7ba792430

In [202]:
gmaps = googlemaps.Client(key='AIzaSyBh43P4gi3akVBUV83ggJ0X0VylcJXAYgA')

def get_geocode_result(geo_string):

    geocode_result = gmaps.geocode(geo_string)
    # check to see if the result is empty and if so return zeros to indicate unparseable junction value
    if len(geocode_result) > 0:
        locs = geocode_result[0]['geometry']['location']
        return [locs['lat'], locs['lng']]
    else:
        return [0.0, 0.0]

In [259]:
for location_chunk in location_chunks:
    start_ = time.time()
    
    # Create multiple pandas DataFrame columns from applying a function with multiple returns.
    location_chunk[['LAT','LON']] = location_chunk['ADDRESS'].apply(lambda s: pd.Series(get_geocode_result(s)))
    
    duration = time.time() - start_
    print(duration)
    
    gap = 100 - duration
    if gap > 0:
        time.sleep(gap + 5)

/usr/local/anaconda3/envs/propulsion_env/lib/python3.7/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

2338.4667751789093
2433.7138018608093
2086.1263427734375

In [262]:
location = pd.concat(location_chunks)

In [263]:
installation = pd.merge(installation, location, how='inner')
# Drop 'INSTALLATION_NAME'
installation.drop('INSTALLATION_NAME', axis=1, inplace=True)

# Import Emission Data & Join with Installation Data

In [264]:
emissions = pd.read_excel(pth_emissions, skiprows=13)

In [265]:
data = pd.merge(emissions, installation, how='inner', left_on=['INSTALLATION_IDENTIFIER', 'REGISTRY_CODE'], right_on=['INSTALLATION_ID', 'MS_REGISTRY'])

In [324]:
data.to_csv(pth_data_01, '|')

In [276]:
data_prefix = ['ALLOCATION',
               'ALLOCATION_RESERVE',
               'ALLOCATION_TRANSITIONAL',
               'VERIFIED_EMISSIONS']

In [291]:
melted_frames = []
for prefix in data_prefix:
    pattern = prefix + '_\d{4}'
    cols = [c for c in data.columns if re.match(pattern, c)]
    df = pd.melt(data.reset_index(),
                 id_vars='index',
                 value_vars=cols,
                 value_name=prefix,
                 var_name='YEAR').rename(columns={'index':'INDEX'})
    df['YEAR'] = df['YEAR'].str.replace(prefix + '_', '').astype(int)
    melted_frames.append(df)

In [295]:
time_series = reduce(lambda left,right: pd.merge(left,right,how='outer',on=['INDEX','YEAR']), melted_frames)

In [325]:
cols_installation = ['INSTALLATION_NAME',
                     'ACCOUNT_HOLDER_NAME',
                     'ACTIVITY_TYPE',
                     'CONTACT_CITY',
                     'CONTACT_ADDRESS_L1',
                     'COUNTRY',
                     'LAT',
                     'LON']

#[c for c in data.columns if not any(s in c for s in data_prefix)]
#[cols_installation.remove(c) for c in ['MS_REGISTRY', 'INSTALLATION_ID', 'PERMIT_ID', 'REGISTRY_CODE', 'IDENTIFIER_IN_REG']]
#None

In [446]:
data_02 = pd.merge(data[cols_installation].reset_index().rename(columns={'index': 'INDEX'}),
                   time_series,
                   how='inner',
                   on='INDEX')

In [447]:
data_02 = data_02.fillna(0)
# A metric column that contains only 0 and -1's fill cause visualization to crash.
# Hence replace all 0 and -1's to 1's.
# Also some columns contain 'Excluded'
# Actually the percentile slider will return a empty dataframe which cases the crash.
cols = ['ALLOCATION', 'ALLOCATION_RESERVE', 'ALLOCATION_TRANSITIONAL', 'VERIFIED_EMISSIONS']

data_02[cols] = data_02[cols].replace('Excluded',1)

for c in cols:
    data_02[c] = data_02[c].astype(int)

data_02[cols] = data_02[cols].replace({0:1, -1:1})
data_02 = data_02.replace({'nan':'Unknown'})
#data_02[['ALLOCATION', 'ALLOCATION_RESERVE', 'ALLOCATION_TRANSITIONAL', 'VERIFIED_EMISSIONS']].replace(0.0,1, inplace=True)
#data_02[['ALLOCATION', 'ALLOCATION_RESERVE', 'ALLOCATION_TRANSITIONAL', 'VERIFIED_EMISSIONS']].replace(-1,1, inplace=True)

In [373]:
data_02.head(20)

,INDEX,INSTALLATION_NAME,ACCOUNT_HOLDER_NAME,ACTIVITY_TYPE,CONTACT_CITY,CONTACT_ADDRESS_L1,COUNTRY,LAT,LON,YEAR,ALLOCATION,ALLOCATION_RESERVE,ALLOCATION_TRANSITIONAL,VERIFIED_EMISSIONS
0,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2018,52651,1,1,83757
1,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2017,53656,1,1,84100
2,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2016,54659,1,1,81599
3,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2015,55662,1,1,79640
4,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2014,56666,1,1,81011
5,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2013,57669,1,1,82073
6,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2012,74854,1,1,81114
7,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2011,74854,1,1,81065
8,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2010,74854,1,1,81800
9,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2009,74854,1,1,77710
10,0,AGRANA Aschach,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Aschach,Raiffeisenweg 2-6,Austria,48.363288,14.015714,2008,74854,1,1,76343
11,1,AGRANA Gmünd,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Gmünd,Conrathstrasse 7,Austria,48.763534,14.978751,2018,24384,1,1,40089
12,1,AGRANA Gmünd,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Gmünd,Conrathstrasse 7,Austria,48.763534,14.978751,2017,25326,1,1,39282
13,1,AGRANA Gmünd,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Gmünd,Conrathstrasse 7,Austria,48.763534,14.978751,2016,26279,1,1,37500
14,1,AGRANA Gmünd,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Gmünd,Conrathstrasse 7,Austria,48.763534,14.978751,2015,27245,1,1,35812
15,1,AGRANA Gmünd,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Gmünd,Conrathstrasse 7,Austria,48.763534,14.978751,2014,27565,1,1,34693
16,1,AGRANA Gmünd,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Gmünd,Conrathstrasse 7,Austria,48.763534,14.978751,2013,28705,1,1,34683
17,1,AGRANA Gmünd,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Gmünd,Conrathstrasse 7,Austria,48.763534,14.978751,2012,33837,1,1,36080
18,1,AGRANA Gmünd,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Gmünd,Conrathstrasse 7,Austria,48.763534,14.978751,2011,33837,1,1,34599
19,1,AGRANA Gmünd,AGRANA Stärke GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Gmünd,Conrathstrasse 7,Austria,48.763534,14.978751,2010,33837,1,1,33695

In [448]:
# change in last n periods
#data_02.sort_values('YEAR').groupby('INDEX')[cols].pct_change()

# change since first period
data_aux_01 = pd.merge(data_02,
                       data_02.loc[data_02.groupby('INDEX')['YEAR'].idxmin()][['INDEX','YEAR'] + cols],
                       how='left',
                       on=['INDEX'],
                       suffixes=('','_START'))

for c in cols:
    data_aux_01[c + '_PCT_CHANGE'] = (data_aux_01[c] - data_aux_01[c + '_START']) / data_aux_01[c + '_START'] * 100

#data_02[['INDEX','YEAR']+ cols]x
#df['pct'] = df.sort_values('Date').groupby(['Company', 'Group']).Value.pct_change()

In [452]:
data_03 = data_aux_01

In [453]:
data_03.to_csv(pth_data_03, '|', index=False)

In [386]:
df = data_02
value = 'ALLOCATION'

In [ ]:
pd.qcut(df.rank(method='first'), nbins)

In [438]:
center = 10000

In [439]:
df['RANK'] = df.groupby(['YEAR'])[value].rank(method='first')

In [442]:
df.loc[df[value] >= center, 'BIN'] = df[df[value] >= center].groupby(['YEAR'])['RANK'].transform(
    lambda x: pd.qcut(x, 5, labels=range(6,11)))

df.loc[df[value] < center, 'BIN'] = df[df[value] < center].groupby(['YEAR'])['RANK'].transform(
    lambda x: pd.qcut(x, 5, labels=range(1,6)))

In [445]:
df['BIN'].map({9:['A','B']})

          0    1
0         A    B
1         A    B
2         A    B
3         A    B
4         A    B
5         A    B
6         A    B
7         A    B
8         A    B
9         A    B
10        A    B
11      NaN  NaN
12      NaN  NaN
13      NaN  NaN
14      NaN  NaN
15      NaN  NaN
16      NaN  NaN
17      NaN  NaN
18      NaN  NaN
19      NaN  NaN
20      NaN  NaN
21      NaN  NaN
22        A    B
23        A    B
24        A    B
25        A    B
26        A    B
27        A    B
28        A    B
29        A    B
...     ...  ...
128340  NaN  NaN
128341  NaN  NaN
128342  NaN  NaN
128343  NaN  NaN
128344  NaN  NaN
128345  NaN  NaN
128346  NaN  NaN
128347  NaN  NaN
128348  NaN  NaN
128349  NaN  NaN
128350  NaN  NaN
128351  NaN  NaN
128352  NaN  NaN
128353  NaN  NaN
128354  NaN  NaN
128355  NaN  NaN
128356  NaN  NaN
128357  NaN  NaN
128358  NaN  NaN
128359    A    B
128360    A    B
128361    A    B
128362    A    B
128363    A    B
128364    A    B
128365    A    B
128366    A    B
128367    A    B
128368    A    B
128369    A    B

[128370 rows x 2 columns]

In [425]:
df.loc[df[value] >= center,'BIN'] = pd.qcut(df[df[value] >= center].groupby(['YEAR'])[value].rank(method='first'),
        q=5, retbins=False, labels=[5,4,3,2,1])
df.loc[df[value] < center,'BIN'] = pd.qcut(df[df[value] < center].groupby(['YEAR'])[value].rank(method='first'),
        q=5, retbins=False, labels=[10,9,8,7,6])


df['C'] = df.groupby(['A'])['B'].transform(
                     lambda x: pd.qcut(x, 3, labels=range(1,4)))

In [430]:
df.sort_values(['YEAR','ALLOCATION'])

,INDEX,INSTALLATION_NAME,ACCOUNT_HOLDER_NAME,ACTIVITY_TYPE,CONTACT_CITY,CONTACT_ADDRESS_L1,COUNTRY,LAT,LON,YEAR,ALLOCATION,ALLOCATION_RESERVE,ALLOCATION_TRANSITIONAL,VERIFIED_EMISSIONS,BIN
65,5,AMAG casting GmbH,AMAG casting GmbH,PRODUCTION_OF_SECONDARY_ALUMINIUM,Ranshofen,Lamprechtshausenerstraße 61,Austria,48.226968,13.032323,2008,1,1,1,1,6
76,6,AMAG rolling GmbH,AMAG rolling GmbH,PRODUCTION_OR_PROCESSING_OF_NON_FERROUS_METALS,Ranshofen,Lamprechtshausenerstraße 61,Austria,48.226968,13.032323,2008,1,1,1,1,6
98,8,Atmosa PSA,Atmosa Petrochemie GmbH,PRODUCTION_OF_BULK_ORGANIC_CHEMICALS,Schwechat,Concorde Business Park 3/1/4a,Austria,48.139860,16.489396,2008,1,1,1,1,6
131,11,Bernegger Molln Ofen 1,Bernegger GmbH,PRODUCTION_CEMENT_ROTARY_FURNACES_INSTALLATIONS,Molln,Gradau 15,Austria,47.906264,14.248112,2008,1,1,1,1,6
142,12,Bernegger Molln Ofen 2,Bernegger GmbH,PRODUCTION_CEMENT_ROTARY_FURNACES_INSTALLATIONS,Molln,Gradau 15,Austria,47.906264,14.248112,2008,1,1,1,1,6
153,13,Bernegger Molln Ofen 3,Bernegger GmbH,PRODUCTION_CEMENT_ROTARY_FURNACES_INSTALLATIONS,Molln,Gradau 15,Austria,47.906264,14.248112,2008,1,1,1,1,6
175,15,Biomasseheizkraftwerk Hall in Tirol,Stadtwerke Hall in Tirol GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Hall in Tirol,Obere Lend 28,Austria,47.274729,11.499099,2008,1,1,1,500,6
186,16,Boehler Schmiedetechnik,Böhler Schmiedetechnik GmbH & Co KG,PRODUCTION_OR_PROCESSING_OF_FERROUS_METALS,Kapfenberg,Mariazeller Straße 25,Austria,47.443801,15.285432,2008,1,1,1,1,6
197,17,Borealis Agrolinz Melamine Ammoniakanlage,Borealis Agrolinz Melamine GmbH,PRODUCTION_OF_AMMONIA,Linz,St.-Peter-Straße 25,Austria,48.288705,14.323199,2008,1,1,1,1,6
208,18,Borealis Agrolinz Melamine Salpetersäureanlage,Borealis Agrolinz Melamine GmbH,PRODUCTION_OF_NITRIC_ACID,Linz,St.-Peter-Straße 25,Austria,48.288705,14.323199,2008,1,1,1,1,6
307,27,EVN Baxter Krems,Baxter AG,COMBUSTION_INSTALLATIONS_THERMAL_MORE_TWENTY_MW,Krems,Brennauerstraße,Austria,48.407905,15.651320,2008,1,1,1,1,6
318,28,EVN Biomassefernheizwerk Mittleres Schwarzatal,EVN Wärme GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Ternitz,Flußweg 1,Austria,47.721386,16.046633,2008,1,1,1,1,6
868,78,Knauf Werk Weißenbach,Knauf Gesellschaft m.b.H.,DRYING_OR_CALCINATION_OF_GYPSUM_OR_PRODUCTION_...,Weißenbach bei Liezen,Knaufstraße 1,Austria,47.568227,14.210197,2008,1,1,1,1,6
1044,94,Montanwerke Brixlegg AG,Montanwerke Brixlegg AG,PRODUCTION_OR_PROCESSING_OF_NON_FERROUS_METALS,Brixlegg,Werkstraße 1 - 3,Austria,47.429188,11.874168,2008,1,1,1,1,6
1231,111,"Saint-Gobian Rigips Austria GmbH, Werk Bad Aussee",Saint-Gobain Rigips Austria GesmbH,DRYING_OR_CALCINATION_OF_GYPSUM_OR_PRODUCTION_...,Bad Aussee,Unterkainisch 24,Austria,47.595630,13.792934,2008,1,1,1,1,6
1407,127,Styromagnesit Steirische Magnesitindustrie GmbH,Styromagnesit Steirische Magnesitindustrie GmbH,PRODUCTION_OF_LIME_OR_CALCINATION_,St. Katharein,Oberdorf 41,Austria,47.470466,15.114535,2008,1,1,1,1,6
1440,130,TAG Verdichterstation Baumgarten,GAS CONNECT AUSTRIA GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Oberweiden,Baumgarten 100,Austria,48.314541,16.877881,2008,1,1,1,1,6
1451,131,TAG Verdichterstation Eggendorf,GAS CONNECT AUSTRIA GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Eggendorf,OMV Weg 1,Austria,47.342567,16.021119,2008,1,1,1,1,6
1462,132,TAG Verdichterstation Grafendorf,GAS CONNECT AUSTRIA GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Grafendorf,Lechen 44,Austria,47.339815,16.020945,2008,1,1,1,1,6
1473,133,TAG Verdichterstation Ruden,GAS CONNECT AUSTRIA GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Ruden,Unternberg 42,Austria,46.674660,14.756527,2008,1,1,1,1,6
1484,134,TAG Verdichterstation Weitendorf,GAS CONNECT AUSTRIA GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Weitendorf,Kapellenstrasse 27,Austria,46.897223,15.465670,2008,1,1,1,1,6
1638,148,Verbund GDK Mellach (Neuanlage § 11/7),VERBUND Thermal Power GmbH & CO KG,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Wildon,Kraftwerkstraße 3,Austria,46.912100,15.486439,2008,1,1,1,1,6
1693,153,WAG Verdichterstation Baumgarten,GAS CONNECT AUSTRIA GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Oberweiden,Baumgarten 100,Austria,48.314541,16.877881,2008,1,1,1,1,6
1704,154,WAG Verdichterstation Kirchberg,GAS CONNECT AUSTRIA GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Wien,Floridsdorfer Haupstraße 1,Austria,48.252254,16.392681,2008,1,1,1,1,6
1715,155,WAG Verdichterstation Rainbach,GAS CONNECT AUSTRIA GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Rainbach im Mühlkreis,Apfoltern 27,Austria,48.541342,14.489182,2008,1,1,1,1,6
2045,185,voestalpine BÖHLER Bleche GmbH & Co KG,Böhler Bleche GmbH & Co KG,PRODUCTION_OR_PROCESSING_OF_FERROUS_METALS,Mürzzuschlag,Boehler-Gasse 1,Austria,47.600940,15.666232,2008,1,1,1,1,6
2056,186,voestalpine Schienen GmbH,voestalpine Schienen GmbH,PRODUCTION_OR_PROCESSING_OF_FERROUS_METALS,Leoben,Kerpelystraße 199,Austria,47.379790,15.059736,2008,1,1,1,1,6
2067,187,voestalpine Tubulars GmbH & Co KG,voestalpine Tubulars GmbH & Co KG,PRODUCTION_OR_PROCESSING_OF_FERROUS_METALS,Kindberg-Aumühl,Alpinestraße 17,Austria,47.496814,15.423029,2008,1,1,1,1,6
2078,188,voestalpine Wire Rod Austria GmbH,voestalpine Austria Draht GmbH,PRODUCTION_OR_PROCESSING_OF_FERROUS_METALS,St. Peter-Freienstein,Drahtstraße 1,Austria,47.390791,15.043500,2008,1,1,1,1,6
2089,189,Ölmühle Bunge Bruck a.d. Leitha,Bunge Austria GmbH,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Bruck a.d. Leitha,Industriegelände West 3,Austria,48.023508,16.754053,2008,1,1,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25432,2312,Mineralölraffinerie Leuna,TOTAL Raffinerie Mitteldeutschland GmbH,MINERAL_OIL_REFINERIES,Spergau,Maienweg 1,Germany,51.288000,12.022500,2018,2070134,1,1,2135154,1
2453,223,ArcelorMittal Gent 2,ArcelorMittal Belgium,PRODUCTION_OF_PIG_IRON_OR_STEEL,Gent,J. Kennedylaan 51,Belgium,51.183610,3.831348,2018,2305237,210237,1,1,1
89463,8133,Impianti di raffinazione,Sarlux Srl,REFINING_OF_MINERAL_OIL,Sarroch (Cagliari),"S.S. Sulcitana 195, km 19",Italy,0.000000,0.000000,2018,2370982,1,1,6348594,1
111210,10110,Rafineria,Polski Koncern Naftowy ORLEN S.A.,REFINING_OF_MINERAL_OIL,Płock,Chemików 7,Poland,52.588759,19.655524,2018,2384038,1,1,2663180,1
27445,2495,Roheisen-und Stahlerzeugung,ArcelorMittal Eisenhüttenstadt GmbH,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Eisenhüttenstadt,Werkstraße 1,Germany,52.161727,14.629857,2018,2620329,1,1,1446767,1
5247,477,Total Raffinaderij Antwerpen,Total Raffinaderij Antwerpen,MINERAL_OIL_REFINERIES,Antwerpen,Scheldelaan 16,Belgium,51.274266,4.326038,2018,2710850,1,1,3643252,1
27148,2468,RUHR OEL GmbH - Werk Scholven - CO2-Glocke,RUHR OEL GmbH,MINERAL_OIL_REFINERIES,Gelsenkirchen,Pawiker Straße 30,Germany,51.596935,7.028438,2018,2728023,1,1,2858225,1
123816,11256,SSAB Luleå,SSAB EMEA AB,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,LULEÅ,Svartövägen 1,Sweden,65.560220,22.201750,2018,2744727,1,1,1058183,1
2640,240,BASF Antwerpen - 127a,B.A.S.F. Antwerpen,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Antwerpen,Scheldelaan 600,Belgium,51.363911,4.252936,2018,2977987,1,1,3127531,1
114862,10442,ARCELORMITTAL GALATI SA,SC ARCELORMITTAL GALATI SA,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Galati,Smardan1,Romania,45.540100,27.920400,2018,3047290,1,1,4104923,1
101420,9220,Shell Nederland Raffinaderij B.V.,SHELL Nederland Raffinaderij B.V.,MINERAL_OIL_REFINERIES,HOOGVLIET-ROTTERDAM,Vondelingenweg 601,Netherlands,51.876053,4.346631,2018,3053525,1,1,4210638,1
52250,4750,Raahen terästehdas,Ruukki Metals Oy,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Raahe,PL 93,Finland,64.683954,24.488365,2018,3386820,1,1,4025353,1
10054,914,Třinecké železárny,"TŘINECKÉ ŽELEZÁRNY, a. s.",PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Třinec - Staré Město,Průmyslová 1000,Czech Republic,49.688140,18.647240,2018,3498832,1,1,2696598,1
14685,1335,Einheitliche Anlage Bremen,ArcelorMittal Bremen GmbH,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Bremen,Carl-Benz- Straße 30,Germany,53.142079,8.692152,2018,3602615,1,1,2621007,1
111848,10168,WIELKI PIEC STALOWNIA ARCELORMITTAL DĄBROWA GÓRN.,ArcelorMittal Poland S.A.,PRODUCTION_OF_PIG_IRON_OR_STEEL,Dąbrowa Górnicza,J. Piłsudskiego 92,Poland,50.345539,19.269025,2018,3936219,1,1,2427068,1
2442,222,ArcelorMittal Gent 1,ArcelorMittal Belgium,PRODUCTION_OF_COKE,Gent,J. Kennedylaan 51,Belgium,51.183610,3.831348,2018,4143269,342339,1,4461978,1
7447,677,ArcelorMittal Ostrava a.s.,ArcelorMittal Ostrava a.s.,COMBUSTION_INSTALLATIONS_THERMAL_MORE_TWENTY_MW,Ostrava-Kunčice,Vratimovská 689,Czech Republic,49.796350,18.303115,2018,4288129,1,1,2868088,1
17721,1611,Glocke Salzgitter,Salzgitter Flachstahl GmbH,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Salzgitter,Eisenhüttenstraße 99,Germany,52.153738,10.414907,2018,5280885,1,1,4359562,1
74239,6749,Scunthorpe Integrated Iron & Steel Works,Tata Steel UK Limited,COKE_OVENS,London,30 Millbrook,United Kingdom,51.464791,-0.105920,2018,5620280,1,1,5073764,1
73315,6665,Port Talbot Steelworks,Tata Steel UK Limited,COKE_OVENS,Rotherham,Swinden Technology Centre,United Kingdom,53.415120,-1.336196,2018,5644629,687437,1,5814379,1
27456,2496,Roheisenerzeugung Dillingen,ROGESA Roheisengesellschaft Saar mbH,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Dillingen/Saar,Werkstr. 1,Germany,49.354990,6.731520,2018,5671684,1,1,4683105,1
128062,11642,"U. S. Steel Košice, s.r.o.","U. S. Steel Košice, s.r.o.",COMBUSTION_OF_FUELS_IN_INSTALLATIONS,Košice,Vstupný areál U.S. Steel,Slovakia,48.622805,21.192437,2018,5810856,1,1,5969066,1
1672,152,Voestalpine Stahl Linz,voestalpine Stahl GmbH,PRODUCTION_OF_PIG_IRON_OR_STEEL,Linz,voestalpine-Straße 3,Austria,48.278607,14.319792,2018,6227879,1,1,7816077,1
54890,4990,ARCELORMITTAL MEDITERRANEE,BERSILLON,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Fos sur Mer,Zone Industrielle,France,43.437882,4.945711,2018,6246659,1,1,7460796,1
17710,1610,Glocke Duisburg,Hüttenwerke Krupp Mannesmann GmbH,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Duisburg,Ehingerstraße 200,Germany,51.370264,6.726661,2018,6300567,261592,1,4899207,1
36542,3322,"ARCELORMITTAL ESPAÑA, S.A.","ARCELORMITTAL ESPAÑA, S.A.",PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Avilés y Gijón (Asturias),Factoria Aceralia Avilés,Spain,43.541185,-5.725274,2018,6760101,1,1,5646785,1
55374,5034,ArcelorMittal Atlantique et Lorraine - Dunkerque,BERSILLON,COMBUSTION_OF_FUELS_IN_INSTALLATIONS,DUNKERQUE CEDEX 1,Site de Dunkerque - Port 3031,France,51.041846,2.373328,2018,8639626,1,1,8052937,1
101794,9254,Tata Steel IJmuiden bv BKG 1,Tata Steel IJmuiden B.V.,PRODUCTION_OF_PIG_IRON_OR_STEEL,VELSEN-NOORD (GEM.VELSEN),Wenckebachstraat 1,Netherlands,52.473966,4.622399,2018,9727505,1,1,6512377,1
89089,8099,ILVA S.P.A. in a. s. Stabilimento di Taranto,ILVA S.P.A.,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,TARANTO,"Via APPIA Km 648, SNC",Italy,40.491998,17.214706,2018,12151525,1,1,1,1
22407,2037,Integriertes Hüttenwerk Duisburg,ThyssenKrupp Steel Europe AG,PRODUCTION_PIG_IRON_STEEL_CONT_CASTING_INSTALL...,Duisburg,Kaiser-Wilhelm-Str. 100,Germany,51.491149,6.743368,2018,15356688,1,1,8336515,1

In [429]:
df.loc[df[value] < center,'BIN'] = pd.qcut(df[df[value] < center].groupby(['YEAR'])[value].rank(method='first'),
        q=5, retbins=False, labels=[6,7,8,9,10])

In [406]:
df.loc[df[value] >= 0,'BIN'] = pd.qcut(df.loc[df[value] >= 0,value].rank(method='first'), q=6, retbins=True, labels=[1,2,3,4,5], duplicates='drop')

ValueError: Bin labels must be one fewer than the number of bin edges

In [403]:
df.loc[df[value] >= 0,'BIN'] = pd.qcut(df.loc[df[value] >= 0,value], q=6, retbins=True, labels=[1,2,3,4,5], duplicates='drop')
df.loc[df[value] < 0,'BIN'] = pd.qcut(df.loc[df[value] < 0,value], q=6, retbins=True, labels=[6,7,8,9,10], duplicates='drop')

ValueError: Must have equal len keys and value when setting with an iterable

In [350]:
data_02[data_02['INSTALLATION_NAME']=='Sunin lämpökeskus']

,INSTALLATION_NAME,ACCOUNT_HOLDER_NAME,ACTIVITY_TYPE,CONTACT_CITY,CONTACT_ADDRESS_L1,COUNTRY,LAT,LON,YEAR,ALLOCATION,ALLOCATION_RESERVE,ALLOCATION_TRANSITIONAL,VERIFIED_EMISSIONS
52976,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2018,1,1,1,77
52977,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2017,1,1,1,167
52978,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2016,1,1,1,65
52979,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2015,206,1,1,35
52980,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2014,931,1,1,224
52981,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2013,1040,1,1,58
52982,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2012,1,1,1,1153
52983,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2011,1,1,1,875
52984,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2010,1,1,1,2347
52985,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2009,1,1,1,1660
52986,Sunin lämpökeskus,Loimaan Kaukolämpö Oy,OTHER_ACTIVITY,nan,Linjakatu 2,Finland,0.0,0.0,2008,1,1,1,447

In [ ]:
'ALLOCATION_2018',
'ALLOCATION_RESERVE_2018',
'ALLOCATION_TRANSITIONAL_2018',
'VERIFIED_EMISSIONS_2018',

'ALLOCATION_2017',
'ALLOCATION_RESERVE_2017',
'ALLOCATION_TRANSITIONAL_2017',
'VERIFIED_EMISSIONS_2017',

'ALLOCATION_2016',
'ALLOCATION_RESERVE_2016',
'ALLOCATION_TRANSITIONAL_2016',
'VERIFIED_EMISSIONS_2016',

'ALLOCATION_2015',
'ALLOCATION_RESERVE_2015',
'ALLOCATION_TRANSITIONAL_2015',
'VERIFIED_EMISSIONS_2015',

'ALLOCATION_2014',
'ALLOCATION_RESERVE_2014',
'ALLOCATION_TRANSITIONAL_2014',
'VERIFIED_EMISSIONS_2014',

'ALLOCATION_2013',
'ALLOCATION_RESERVE_2013',
'ALLOCATION_TRANSITIONAL_2013',
'VERIFIED_EMISSIONS_2013',



'ALLOCATION_2012',
'VERIFIED_EMISSIONS_2012',

'ALLOCATION_2011',
'VERIFIED_EMISSIONS_2011',

'ALLOCATION_2010',
'VERIFIED_EMISSIONS_2010',

'ALLOCATION_2009',
'VERIFIED_EMISSIONS_2009',

'ALLOCATION_2008',
'VERIFIED_EMISSIONS_2008',